<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CS" value="Data Source=172.18.32.1;Initial Catalog=DB_TestProc;User ID=sa;Password=Dev*2019;" />
  </appSettings>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=;Initial Catalog=;User ID=;Password=;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>